project:
  type: website
  output-dir: docs

website:
  title: "15lucyhart"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About Me 
      - href: LucyHartMasterResume.pdf
        text: Resume
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
  

editor: visual

